<style>

body {
	font-family: 'Questrial', sans-serif;
}
	
a:focus, a:hover  { 
	text-decoration: none;
}
	
	.scale-it {
		width: 90%;
		max-height: 100%;
		padding-top: 55%;
		position: relative;
		margin-left: 4%;
		margin-right: auto;
	}
	
	.scaling-svg {
		width: 100%;
		max-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: visible;
	}

#settings {
	display: inline-block;
}
	
.dropdown-menu {
	background-color: AliceBlue;
	max-height: 500px;
	overflow: auto;
	padding-left: .5em;
	margin-left:2.5em;
}

.btn-primary {
background-image: linear-gradient(to bottom,#459bc0 0,#1682B0 100%);	
	
}


.container {
	margin:0;
}
.hideClass { 
	display: none;
}



	/* SECONDARY PAGE */
	
		.column1 {
			width: 100%;
			height: auto;
	}
	
	svg {
		width: auto;
		max-height: 100%;
		overflow: visible;
	}

	#ejj_container {
	
		width: 90vw;
		margin-left: 5vw;
	}

	.column2 {
		width: 100%;
		height: auto;
	}

	.column2 > div {
		overflow: visible;
	}
	
	.u-title {
		opacity: 1;
		fill: #000;
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	}	
	
</style>